body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #333;
}

.wrapper {
  text-align: center;
  margin-top: 4rem;
  width: 90%;
  margin: 0 auto;
}

.quote {
  text-transform: uppercase;
}
